@{
    ViewData["Title"] = "Digital Collections";
    ViewData["Home_Collapsed"] = "collapsed";
    ViewData["Collections_Collapsed"] = "";
    ViewData["Reservation_Collapsed"] = "collapsed";
    ViewData["Profile_Collapsed"] = "collapsed";
}

<div class="pagetitle">
    <h1>Digital Collections</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="breadcrumb-item active">Digital Collections</li>
        </ol>
    </nav>
</div>

<section class="section">
    <div class="row">

    </div>
</section>
