@{
    ViewData["Title"] = "Profile";
    ViewData["Home_Collapsed"] = "collapsed";
    ViewData["Collections_Collapsed"] = "collapsed";
    ViewData["Reservation_Collapsed"] = "collapsed";
    ViewData["Profile_Collapsed"] = "";
}

<div class="pagetitle">
    <h1>Profile</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="breadcrumb-item active">Profile</li>
        </ol>
    </nav>
</div>

<section class="section">
    <div class="row">

    </div>
</section>
