<<<<<<< Updated upstream
﻿@{
    ViewData["Title"] = "Reservations";
    ViewData["Home_Collapsed"] = "collapsed";
    ViewData["Collections_Collapsed"] = "collapsed";
    ViewData["Reservation_Collapsed"] = "";
    ViewData["Profile_Collapsed"] = "collapsed";
}

<div class="pagetitle">
    <h1>Room - Table Reservations</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="breadcrumb-item active">Reservations</li>
        </ol>
    </nav>
</div>

<section class="section">
    <div class="row">
        <div id="reservationCalendar"></div>
        <script>document.addEventListener("DOMContentLoaded", () => {
                CreateScheduler("reservationCalendar", "@DateTime.Now.ToString("yyyy-MM-dd")", "URL");
            });</script>
    </div>
</section>

<link href="~/lib/daypilot/main.css" rel="stylesheet" />
<script src="~/lib/daypilot/daypilot-all.min.js"></script>
<script src="~/lib/daypilot/app.js"></script>
=======
﻿@{
    ViewData["Title"] = "Reservations";
    ViewData["Home_Collapsed"] = "collapsed";
    ViewData["Collections_Collapsed"] = "collapsed";
    ViewData["Reservation_Collapsed"] = "";
    ViewData["Profile_Collapsed"] = "collapsed";
}

<div class="pagetitle">
    <h1>Room - Table Reservations</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="breadcrumb-item active">Reservations</li>
        </ol>
    </nav>
</div>

<section class="section">
    <div class="row">

    </div>
</section>
>>>>>>> Stashed changes
